dummy-secrets.env
NOTES.md



{
"id": "CVE-2023-44487",
"dataSource": "https://nvd.nist.gov/vuln/detail/CVE-2023-44487",
"namespace": "nvd:cpe",
"severity": "High",
"urls": [],
"description": "The HTTP/2 protocol allows a denial of service (server resource consumption) because request cancellation can reset many streams quickly, as exploited in the wild in August through October 2023.",
"cvss": [
{
"source": "nvd@nist.gov",
"type": "Primary",
"version": "3.1",
"vector": "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:H",
"metrics": {
"baseScore": 7.5,
"exploitabilityScore": 3.9,
"impactScore": 3.6
},
"vendorMetadata": {}
},
{
"source": "134c704f-9b21-4f2e-91b3-4a467353bcc0",
"type": "Secondary",
"version": "3.1",
"vector": "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:H",
"metrics": {
"baseScore": 7.5,
"exploitabilityScore": 3.9,
"impactScore": 3.6
},
"vendorMetadata": {}
}
],
"knownExploited": [
{
"cve": "CVE-2023-44487",
"vendorProject": "IETF",
"product": "HTTP/2",
"dateAdded": "2023-10-10",
"requiredAction": "Apply mitigations per vendor instructions, follow applicable BOD 22-01 guidance for cloud services, or discontinue use of the product if mitigations are unavailable.",
"dueDate": "2023-10-31",
"knownRansomwareCampaignUse": "unknown",
"notes": "This vulnerability affects a common open-source component, third-party library, or protocol used by different products. For more information, please see: HTTP/2 Rapid Reset Vulnerability, CVE-2023-44487 | CISA: https://www.cisa.gov/news-events/alerts/2023/10/10/http2-rapid-reset-vulnerability-cve-2023-44487",
"urls": [
"https://blog.cloudflare.com/technical-breakdown-http2-rapid-reset-ddos-attack/",
"https://nvd.nist.gov/vuln/detail/CVE-2023-44487"
],
"cwes": [
"CWE-400"
]
}
],
"epss": [
{
"cve": "CVE-2023-44487",
"epss": 0.9445,
"percentile": 0.99992,
"date": "2026-03-31"
}
],
"cwes": [
{
"cve": "CVE-2023-44487",
"cwe": "CWE-400",
"source": "134c704f-9b21-4f2e-91b3-4a467353bcc0",
"type": "Secondary"
}
],
"fix": {
"versions": [
"1.20.10",
"1.21.3"
],
"state": "fixed",
"available": [
{
"version": "1.20.10",
"date": "2025-09-04",
"kind": "first-observed"
},
{
"version": "1.21.3",
"date": "2025-09-04",
"kind": "first-observed"
}
]
},
"advisories": [],
"risk": 78.75000000000001
},
"relatedVulnerabilities": [],
"matchDetails": [
{
"type": "cpe-match",
"matcher": "go-module-matcher",
"searchedBy": {
"namespace": "nvd:cpe",
"cpes": [
"cpe:2.3:a:golang:go:1.20.5:-:*:*:*:*:*:*"
],
"package": {
"name": "stdlib",
"version": "go1.20.5"
}
},
"found": {
"vulnerabilityID": "CVE-2023-44487",
"versionConstraint": "< 1.20.10,>= 1.21.0-0, < 1.21.3 (unknown)",
"cpes": [
"cpe:2.3:a:golang:go:*:*:*:*:*:*:*:*"
]
},
"fix": {
"suggestedVersion": "1.20.10"
}
}
],
"artifact": {
"id": "pkg:golang/stdlib@1.20.5?package-id=107f17fb12ab33df",
"name": "stdlib",
"version": "go1.20.5",
"type": "go-module",
"locations": [
{
"path": "/.tools/gitleaks",
"accessPath": ""
}
],
"language": "go",
"licenses": [
"BSD-3-Clause"
],
"cpes": [
"cpe:2.3:a:golang:go:1.20.5:-:*:*:*:*:*:*"
],
"purl": "pkg:golang/stdlib@1.20.5",
"upstreams": [],
"metadataType": "GolangBinMetadata",
"metadata": {
"goCompiledVersion": "go1.20.5",
"architecture": ""
}
}
},